<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple blog about python">
    <meta name="author" content="Bekzat Shayakhmetov">
    <link rel="shortcut icon" href="{%static 'img/site-icon.png'%}">
    {% block title %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/hover.zoom.js'%}"></script>
    <script src="{% static 'js/hover.zoom.conf.js'%}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<nav>
		  <!-- Static navbar -->
	    <div class="navbar navbar-inverse navbar-static-top" id="nav">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="{% url 'welcome page'%}">Python Blog</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="{% url 'blog:index'%}">Articles</a></li>
	            <li><a href="{% url 'about'%}">About Me</a></li>
	            <li><a href="{% url 'contacts'%}">Contact</a></li>
	            <li><a href="">EN</a></li><li><a href="">RUS</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
		<!-- +++++ Projects Section +++++ -->
	</nav>

    {% block content %}
    {% endblock %}

	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>ул. Вершинина, д.46,<br/>
						+7(996)-938-3294, <br/>
						г.Томск, Россия.</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">VK</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>About me</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptas dicta perferendis, corrupti quas repellat, soluta modi ratione incidunt est beatae eos iste, maiores maxime culpa iusto cumque ducimus eaque.</p>
				</div><!-- /col-lg-4 -->
			</div>
		</div>
	</div>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
  </body>
</html>

