{% extends 'base.html' %}
{% block title %}
    <title>{{post.title}}</title>
{% endblock %}

{% block content %}
{% load dractags %}
<div class="container pt">
    <div class="row mt centered">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="content detailed-content">
                    {% if post %}
                        <h1>{{post.title}}</h1>
                        <p>{{post.preview}}</p>
                        <p>{{post.text|safe_markdown}}</p>
                    {%else %}
                        <p>Some error occurred!</p>
                    {%endif%}
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
{% endblock %}
