{% extends 'blog/base.html' %}
{% block title %}
    <title>Posts archive</title>
{% endblock %}
{% block content %}
<div class="container pt">
    <div class="row mt centered">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="content">
                <div class="pagination">
                    {% if latest_posts.has_previous %}
                        <a href="?page={{ latest_posts.previous_page_number }}">←</a>
                    {% endif %}

                    {% for num in latest_posts.paginator.page_range %}
                        {% if num == latest_posts.number %}
                            <span class="current"><b>{{ num }}</b></span>
                        {% else %}
                            <a href="?page={{ num }}"> {{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if latest_posts.has_next %}
                        <a href="?page={{ latest_posts.next_page_number }}">→</a>
                    {% endif %}
                </div>
                {% if latest_posts %}
                    {% for post in latest_posts%}
                        <h1><a href="{% url 'blog:detailed_view' post.slug%}">{{post.title}}</a></h1>
                        <img src="https://dbader.org/blog/figures/dictionaries-maps-and-hashtables-in-python.png" width=600 height=300 alt="{{post.title}}">
                        <p class="preview">{{post.preview}}</p>
                        <a href="{% url 'blog:detailed_view' post.slug%}">→ Continue reading<a>
                        <hr>
                    {% endfor %}
                {%else %}
                    <p>No posts are available</p>
                {%endif%}
            </div>
       </div>
        <div class="col-lg-2">
        </div>
    </div><!-- /row -->
</div>
{% endblock %}
