{% extends 'blog/base.html' %}
{% block title %}
<title>Python Blog - how to become the pythonic pythonist?</title>
{% endblock %}
{% block content %}
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
		<img src="/static/img/user.png" alt="Stanley">
		<h1>Lorem ipsum dolor sit amet.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eius voluptate, dolorem laboriosam tempora reprehenderit nobis nisi explicabo voluptates ipsa repellat voluptatum, blanditiis dignissimos veritatis nemo ratione quam a ipsam saepe. Molestias, quasi quia in officiis accusamus quisquam ipsam, similique, temporibus ratione porro tempora quod nostrum illum. Suscipit, ut, officiis.</p>
	</div><!-- /ww -->
{% endblock %}