{% extends 'base.html' %}
{% block title %}
    <title>Python Blog - how to become the pythonic pythonist?</title>
{% endblock %}
{% block main-page %}
    <li><a href="{%url 'blog:articles'%}">Articles</a></li>
    <li><a href="{%url 'contacts'%}">Contacts</a></li>
    <li><a href="{%url 'about'%}">About</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt centered">
            <div class="col-md-8 col-md-offset-2">
                <div class="content main-page">
                    <img src="/static/img/user.png" alt="Stanley">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eius voluptate, dolorem laboriosam tempora reprehenderit nobis nisi explicabo voluptates ipsa repellat voluptatum, blanditiis dignissimos veritatis nemo ratione quam a ipsam saepe. Molestias, quasi quia in officiis accusamus quisquam ipsam, similique, temporibus ratione porro tempora quod nostrum illum. Suscipit, ut, officiis.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
